.contact-section-1 h1 {
    text-align: center;
}
.contact-section-1 p {
    text-align: center;
    font-size: 1.5rem;
}
.contact-section-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
.contact-section-2 .contact-card {
    background-color: var(--color-03);
    color: var(--color-02);
    box-shadow: 2px 3px 5px var(--color-01);
}
.contact-card img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-bottom: 3px solid var(--color-02);
}
.contact-card div {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.contact-card div p {
    margin-top: 2px;
}
.contact-section-3 img,
.contact-section-4 img {
    width: 100%;
}
.contact-section-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding-top: 0px;
}
.contact-section-3 p {
    margin-top: 5px;
}
.contact-section-3 button {
    margin-top: 15px;
    background-color: var(--color-04);
    box-shadow: 2px 3px 8px var(--color-03);
    color: var(--color-02);
    padding: 5px 20px;
    min-width: 60px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.contact-section-3 button:hover {
    background-color: var(--color-01);
}
