@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

/* CSS for all pages go here */
* {
    --color-01: #1b1919; /* black */
    --color-02: #ffffff; /* white */
    --color-03: #132639; /* blue */
    --color-04: #cc9b2a; /* gold */
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: normal;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1rem;
}
body {
    max-width: 100%;
}
.section-container {
    padding: 50px;
}
.container-mxwidth,
header,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-mxwidth section,
header section,
footer section {
    max-width: 1500px;
}

/* Style the navigation bar */
header {
    background-color: var(--color-01);
    padding: 25px 50px;
}
header section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
header ul li {
    display: inline;
    margin-left: 40px;
    text-transform: uppercase;
}
header a {
    text-decoration: none;
    color: var(--color-02);
}
header svg {
    width: 100px;
}

/* Style the footer */
footer {
    background-color: var(--color-01);
    padding: 50px 50px 25px 50px;
}
footer section {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    list-style-type: none;
    color: var(--color-02);
}
.footer-content p,
.footer-content h3 {
    margin-bottom: 5px;
}
.footer-content svg {
    height: 50px;
    margin-bottom: 25px;
}
.footer-content,
.footer-socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-contact {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.footer-socialmedia {
    align-items: center;
}
.footer-socialmedia div {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}
.footer-socialmedia svg {
    width: 40px;
}
.footer-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 75px;
}
.footer-copyright {
    text-align: center;
}
