.stores-section-1 h1 {
    text-align: center;
}
.stores-section-1 p {
    text-align: center;
    font-size: 1.5rem;
}
.stores-section-1 {
    padding-bottom: 75px;
}
.stores-section-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding-top: 0;
}
.store {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.store a {
    color: var(--color-01);
    margin-top: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.1rem;
}
.store a:hover {
    color: var(--color-04);
    transition: 0.3s;
}
.store img {
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}
.store-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}
.properties {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-bottom: 10px;
}
.district,
.category {
    width: fit-content;
    padding: 7px 12px 5px 12px;
    border-radius: 5px;
    color: var(--color-02);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: 1px;
}
.district {
    background-color: var(--color-04);
}
.category {
    background-color: var(--color-01);
}
.filters-category h3,
.filters-district h3 {
    margin-top: 3px;
    font-size: 1.5rem;
}
.filters-category div,
.filters-district div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.filters-category div {
    margin-bottom: 20px;
}
.filters-district div {
    margin-bottom: 50px;
}
.filters-category div button,
.filters-district div button {
    box-shadow: 2px 2px 3px var(--color-03);
    color: var(--color-02);
    padding: 7px 15px 5px 15px;
    min-width: 60px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.filters-category div button {
    background-color: var(--color-01);
}
.filters-district div button {
    background-color: var(--color-04);
}
.filters-category div button:hover,
.filters-district div button:hover {
    background-color: var(--color-05);
}
