.stores-section-1 h1 {
    text-align: center;
}
.stores-section-1 p {
    text-align: center;
    font-size: 1.5rem;
}
.stores-section-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding-top: 0;
}
.stores-section-2 div {
    background-color: #f4f4f4;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
