<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/main.css" />
        <link rel="stylesheet" href="/{{webStyle}}" />
        <title> {{webTitle}} </title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/stores">Stores</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </header>
        {{{body}}}
        <footer>
        <div id="basicContact">
            <p>Jönköping City AB</p>
            <p>c/o Jönköpings kommun</p>
            <p>Rådhusparken 1</p>
            <p>551 89 Jönköping</p>
            <p></p>
            <p>Phone:</p>
            <p>036-16 40 74</p>
            <p></p>
            <p>Visitor address: Rådhuset, entréplan</p>
            <p><a href="https://www.google.com/maps/place/R%C3%A5dhuset/@57.7809948,14.1491026,15z/data=!4m6!3m5!1s0x465a6dea5acbbfcf:0xe255fe24aa6a10e!8m2!3d57.7826257!4d14.1652948!16s%2Fg%2F1hc6jmzrh?entry=ttu">Hitta hit</a></p>
            <p></p>
            <p>info@jkpg.se</p>
        </div>
        <div id="footer right">
            <div id="discover">
            <h4><b>DISCOVER</b></h4>
            <li><a href="/stores">Stores</a></li>
            <li>Food</li>
            <li>Activities</li>
            <li>Lifestyle</li>
            <li>Overnight Stay</li>
            </div>
            <div id="neighborhoods">
            <h4><b>Neighborhoods</b></h4>
            <li>Articles and Guides</li>
            </div>
            <div id="information">
            <h4><b>Information</b></h4>
            <li>Facilities</li>
            <li>Parking</li>
            <li>Public Transport</li>
            <li>Opening Hours</li>
            <li>Shopping Card</li>
            </div>
            <div id="news">
                <h4><b>Our News</b></h4>
                <li>Information Page</li>
                <li>Operations</li>
                <li>News</li>
            </div>
            <div id="contactFooter">
                <h4><b>Contact</b></h4>
                <li><a href="/about">About Us</a></li>
            </div>
        </div>
            <p>&copy; 2024 Jönköping City. All rights reserved.</p>
        </footer>
    </body>
</html>