<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/main.css" />
        <link rel="stylesheet" href="/{{webStyle}}" />
        <title> {{webTitle}} </title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/stores">Stores</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </header>
        {{{body}}}
        <footer>
            <div class="footer-content">
                <!-- Basic contact information -->
                <div>
                    <h4>JKPGCITY</h4>
                    <div>
                        <p>Jönköping City AB</p>
                        <p>c/o Jönköpings kommun</p>
                        <p>Rådhusparken 1</p>
                        <p>551 89 Jönköping</p>
                    </div>
                    <p>Phone: 036-16 40 74</p>
                    <p>Visitor address: Rådhuset, entréplan</p>
                    <a
                        href="https://www.google.com/maps/place/R%C3%A5dhuset/@57.7809948,14.1491026,15z/data=!4m6!3m5!1s0x465a6dea5acbbfcf:0xe255fe24aa6a10e!8m2!3d57.7826257!4d14.1652948!16s%2Fg%2F1hc6jmzrh?entry=ttu"
                        target="_blank"
                    >Find us</a>
                    <p>Email us at: info@jkpg.se</p>
                </div>
                <!-- Footer aligned to the right -->
                <div class="footer-right">
                    <!-- Discover -->
                    <div>
                        <h4>Discover</h4>
                        <a href="/stores">Stores</a>
                        <p>Food</p>
                        <p>Activities</p>
                        <p>Lifestyle</p>
                        <p>Overnight Stay</p>
                    </div>
                    <!-- Neighbourhoods -->
                    <div>
                        <h4>Neighborhoods</h4>
                        <p>Articles and Guides</p>
                    </div>
                    <!-- Information -->
                    <div>
                        <h4>Information</h4>
                        <p>Facilities</p>
                        <p>Parking</p>
                        <p>Public Transport</p>
                        <p>Opening Hours</p>
                        <p>Shopping Card</p>
                    </div>
                    <!-- News -->
                    <div>
                        <h4>Our News</h4>
                        <p>Information Page</p>
                        <p>Operations</p>
                        <p>News</p>
                    </div>
                </div>
            </div>
            <p class="footer-copyright">&copy; 2024 Jönköping City. All rights reserved.</p>
        </footer>
    </body>
</html>