<div>
    <!-- Slideshow -->
    <div class="slideshow">
        <div
            class="slide"
            style="background-image: url('https://media.licdn.com/dms/image/C561BAQE7MVqDpP_Gxg/company-background_10000/0/1584784001940/j_nk_ping_university_cover?e=2147483647&v=beta&t=X1SB-JxfjWKILWp0_XCtW_TCKFQVJGcP9pZx347SvH4');"
        >
            <div class="slide-content">
                <h1>Jönköping City AB</h1>
                <p>
                    We are a city development company that develops, activates and creates well-being in Jönköping's city center for all businesses, residents
                    and visitors. You don't have to be a member or pay any fee - if you are in the city, you are part of Jkpg city.
                </p>
            </div>
        </div>
        <div class="slide" style="background-image: url('https://cms.studyinsweden.se//app/uploads/2019/04/Webp.net-resizeimage-6.jpg');">
            <div class="slide-content">
                <h1>Vision</h1>
                <p>
                    Jönköping city is a place for experiences and new memories. But just as much a welcoming and lively city center for everyone who lives and
                    works here - all day of the year. Our promise: You are the center.
                </p>
            </div>
        </div>
        <div
            class="slide"
            style="background-image: url('https://a.cdn-hotels.com/gdcs/production88/d1215/9845e7e6-f643-43d8-bf18-cfa73590ac12.jpg?impolicy=fcrop&w=800&h=533&q=medium');"
        >
            <div class="slide-content">
                <h1>Board</h1>
                <p>
                    The board consists of representatives from the Association of Property Owners in Jönköping City, Jönköping Handel and from Jönköping
                    Municipality. The chairman of the board is Peder Karlén.
                </p>
            </div>
        </div>
    </div>
</div>