<div>
    <div>
        <h1>About Us</h1>
        <h2>Jönköping City AB</h2>
        <p>
            We are a city development company that develops, activates and creates well-being in Jönköping's city center for all businesses, residents and
            visitors. You don't have to be a member or pay any fee - if you are in the city, you are part of Jkpg city.
        </p>
    </div>

    <div>
        <h2>Vision</h2>
        <p>
            Jönköping city is a place for experiences and new memories. But just as much a welcoming and lively city center for everyone who lives and works
            here - all day of the year. Our promise: You are the center.
        </p>
    </div>

    <div>
        <h2>Organisation</h2>
        <p>
            Sven Rydell, CEO Tommy Grdic, Business developer Kristoffer Johansson, Event manager Beata Stigmarker, Communications and Marketing Manage the city,
            you are part of Jkpg city.
        </p>
        <h4>Contact Jönköping City AB</h4>
    </div>

    <div>
        <h2>Board</h2>
        <p>
            The board consists of representatives from the Association of Property Owners in Jönköping City, Jönköping Handel and from Jönköping Municipality.
            The chairman of the board is Peder Karlén.
        </p>
    </div>

</div>