<div>
    <h1>Contact details</h1>
    <p class="infoText">Questions, comments or ideas? Contact Us!</p>

    <div id="contactDetails">
        <h2>Jönköping City AB</h2>
        <div class="contact1">
            <p>c/o Jönköpings kommun</p>
            <p>Rådhusparken 1</p>
            <p>551 89 Jönköping</p>
            <p>Visiting address: City Hall, entrance floor</p>
        </div>
        <div class="contactLink">
            <a href=""><button>Find here!</button></a>
        </div>
        <div class="contact2">
            <p>Mobile 036-16 40 74</p>
            <p>info@jkpgcity.se</p>
        </div>
    </div>

    <h4>Contact persons</h4>
    <section class="contact-section-contactpersons">
        <div class="card">
            <h5>Sven Rydell</h5>
            <p>VD</p>
            <p>sven@jkpgcity.se</p>
        </div>
        <div class="card">
            <h5>Kristoffer Johansson</h5>
            <p>Event manager</p>
            <p>kristoffer@jkpgcity.se</p>
        </div>
        <div class="card">
            <h5>Tommy Grdic</h5>
            <p>Business developer City</p>
            <p>tommy@jkpgcity.se</p>
        </div>
        <div class="card">
            <h5>Beata Stigmarker</h5>
            <p>Marketing and communications manager</p>
            <p>beata@jkpgcity.se</p>
        </div>
    </section>

</div>