<div>
    <!-- Heading -->
    <div class="container-mxwidth">
        <section class="section-container contact-section-1">
            <h1>Contact Us</h1>
            <p>Questions, comments or ideas? Don't hesitate to contact us.</p>
        </section>
    </div>
    <!-- People -->
    <div class="container-mxwidth">
        <section class="section-container contact-section-2">
            <div class="contact-card">
                <img src="https://ju.se/images/18.cb2b6a1186f8bd33fb3c518/1680182590748/Sven%20Rydell.jpg" alt="Sven Rydell" />
                <div>
                    <h3>Sven Rydell</h3>
                    <p>Chief Executive Officer</p>
                    <p>sven@jkpgcity.se</p>
                </div>
            </div>
            <div class="contact-card">
                <img
                    src="https://media.licdn.com/dms/image/D4D03AQF0SbQuTisEnA/profile-displayphoto-shrink_400_400/0/1695110975721?e=2147483647&v=beta&t=ttkLup_LBVDyMuTvNUXHoC1XWPHx3LGwZ2ygRVrPlpU"
                    alt="Kristoffer Johansson"
                />
                <div>
                    <h3>Kristoffer Johansson</h3>
                    <p>Event Manager</p>
                    <p>kristoffer@jkpgcity.se</p>
                </div>
            </div>
            <div class="contact-card">
                <img
                    src="https://media.licdn.com/dms/image/C5603AQFD3EQ7JupRqA/profile-displayphoto-shrink_400_400/0/1517716137865?e=2147483647&v=beta&t=O421ISD8VHA-jEk3MJuvSl9PtdM6iMHMP9ejj1MJGzU"
                    alt="Tommy Grdic"
                />
                <div>
                    <h3>Tommy Grdic</h3>
                    <p>Business Developer City</p>
                    <p>tommy@jkpgcity.se</p>
                </div>
            </div>
            <div class="contact-card">
                <img src="https://www.sverigeskommunikatorer.se/contentassets/c2d658e852a34f09bf1258acd8e70714/webben-65.jpg" alt="Beata Stigmarker" />
                <div>
                    <h3>Beata Stigmarker</h3>
                    <p>Marketing and Communications Manager</p>
                    <p>beata@jkpgcity.se</p>
                </div>
            </div>
        </section>
    </div>
    <!-- Information -->
    <div class="container-mxwidth">
        <section class="section-container contact-section-3">
            <div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/71/Jönköpings_rådhus%2C_2018.jpg" />
            </div>
            <div>
                <h2>Jönköping City AB</h2>
                <p>c/o Jönköpings kommun</p>
                <p>Rådhusparken 1</p>
                <p>551 89 Jönköping</p>
                <p><b>Visitor Address:</b> City Hall, Entréplan</p>
                <p><b>Mobile:</b> 036-16 40 74</p>
                <p><b>Email:</b> info@jkpgcity.se</p>
                <a
                    href="https://www.google.com/maps/place/R%C3%A5dhuset/@57.7809948,14.1491026,15z/data=!4m6!3m5!1s0x465a6dea5acbbfcf:0xe255fe24aa6a10e!8m2!3d57.7826257!4d14.1652948!16s%2Fg%2F1hc6jmzrh?entry=ttu"
                    target="_blank"
                ><button>Visit our office</button></a>
            </div>
        </section>
    </div>
    <!-- Map -->
    <section class="contact-section-4">
        <img src="/images/JKPGCITY-map.png" alt="Map of the city" />
    </section>
</div>