<div>
    <section class="section-container section-1">
        <h1>JKPGCITY</h1>
        <p>shop • dine • sleep</p>
    </section>
    <section class="section-container section-2">
        <h2>Welcome to Jönköping City</h2>
        <p>
            JkpgCity is a big town with a small town atmosphere. Shopping, dining and hotels share space with museums, theaters and art studios. All surrounded
            by green parks and blue lakes.
        </p>
    </section>
</div>