<div>
    <!-- Heading -->
    <div class="container-mxwidth">
        <section class="section-container stores-section-1">
            <h1>Stores</h1>
            <p>Find all the information about your favourite stores in town.</p>
        </section>
    </div>
    <!-- Stores -->
    <div class="container-mxwidth">
        <section class="section-container stores-section-2">
            <div>
                <h3>Card 1</h3>
                <p>This is a simple card.</p>
            </div>
            <div>
                <h3>Card 2</h3>
                <p>This is another card.</p>
            </div>
            <div>
                <h3>Card 3</h3>
                <p>One more card here.</p>
            </div>
            <div>
                <h3>Card 3</h3>
                <p>One more card here.</p>
            </div>
        </section>
    </div>
</div>