<div>
    <!-- Heading -->
    <div class="container-mxwidth">
        <section class="section-container stores-section-1">
            <h1>Stores</h1>
            <p>Find all the information about your favourite stores in town.</p>
        </section>
    </div>
    <!-- Grid -->
    <div class="container-mxwidth">
        <section class="section-container stores-section-2">
            <div>
                <h3>Card 3</h3>
                <p>
                    The board consists of representatives from the Association of Property Owners in Jönköping City, Jönköping Handel and from Jönköping
                    Municipality. The chairman of the board is Peder Karlén.
                </p>
            </div>
            <div>
                <h3>Card 3</h3>
                <p>
                    The board consists of representatives from the Association of Property Owners in Jönköping City, Jönköping Handel and from Jönköping
                    Municipality. The chairman of the board is Peder Karlén.
                </p>
            </div>
            <div>
                <h3>Card 3</h3>
                <p>
                    The board consists of representatives from the Association of Property Owners in Jönköping City, Jönköping Handel and from Jönköping
                    Municipality. The chairman of the board is Peder Karlén.
                </p>
            </div>
            <div>
                <h3>Card 3</h3>
                <p>
                    The board consists of representatives from the Association of Property Owners in Jönköping City, Jönköping Handel and from Jönköping
                    Municipality. The chairman of the board is Peder Karlén.
                </p>
            </div>
            <div>
                <h3>Card 3</h3>
                <p>
                    The board consists of representatives from the Association of Property Owners in Jönköping City, Jönköping Handel and from Jönköping
                    Municipality. The chairman of the board is Peder Karlén.
                </p>
            </div>
            <div>
                <h3>Card 3</h3>
                <p>
                    The board consists of representatives from the Association of Property Owners in Jönköping City, Jönköping Handel and from Jönköping
                    Municipality. The chairman of the board is Peder Karlén.
                </p>
            </div>
        </section>
    </div>
</div>